<!DOCTYPE html>
<html>
<head>
<link rel="icon"
      type="image/png"
      href="<%= image_url('favicon.png')%>">
  <title>ChronicleReStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84263106-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript">
    window.left_arrow = '<%= image_url('left_arrow.svg') %>';
    window.x_mark = '<%= image_url('x_mark.jpg') %>';
    window.right_arrow = '<%= image_url('right_arrow.svg') %>';
    window.logout = '<%= image_url('logout.png') %>';
    window.logo = '<%= image_url('logo.png') %>';
    window.search = '<%= image_url('search.png') %>';
    window.down = '<%= image_url('down_arrow.svg') %>';
    window.profile_pic = '<%= image_url('default_prof_pic.jpg') %>';
    window.default_pic = '<%= image_url('default_pic.png') %>';
    window.twitter = '<%= image_url('twitter_icon.png') %>';
    window.facebook = '<%= image_url('facebook_icon.png') %>';
    window.email = '<%= image_url('email_icon.png') %>';
    window.embed = '<%= image_url('embed_icon.png') %>';
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
