<!DOCTYPE html>
<html>
<head>
<link rel="icon"
      type="image/png"
      href="<%= image_url('favicon.png')%>">
  <title>ChronicleReStarter</title>
  <%= include_gon(init: true, :camel_case => true, namespace: :myApp) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.logout = '<%= image_url('logout.png') %>'
    window.logo = '<%= image_url('logo.png') %>'
    window.search = '<%= image_url('search.png') %>'
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
