<!DOCTYPE html>
<html>
<head>
<link rel="icon"
      type="image/png"
      href="<%= image_url('favicon.png')%>">
  <title>ChronicleReStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.check = '<%= image_url('check_mark.png') %>'
    window.left_arrow = '<%= image_url('left_arrow.png') %>'
    window.right_arrow = '<%= image_url('right_arrow.png') %>'
    window.logout = '<%= image_url('logout.png') %>'
    window.logo = '<%= image_url('logo.png') %>'
    window.search = '<%= image_url('search.png') %>'
    window.down = '<%= image_url('down_arrow.svg') %>'
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
